<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="URL" value="http://leaftaps.com/opentaps/"></parameter>
<parameter name="UNAME" value="DemoSalesManager"></parameter>
<parameter name="PWD" value="crmsfa"></parameter>
<parameter name="" value=""></parameter>
  <test thread-count="5" name="Test" verbose="5" >
    <classes>
      <class name="TestNGPractice.CreateLead"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
