<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="URL" value="https://dev87223.service-now.com/"></parameter>
<parameter name="UserName" value ="admin"></parameter>
<parameter name="Password" value ="jO5meNwhF6XL"></parameter>

  <test thread-count="5" name="Test" verbose ="6" >
    <classes>
      <class name="RealTimeScenarios.CreateNewIncident"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
